%p#notice= notice

%p
  %b Name:
  = @registered_application.name
%p
  %b Url:
  = @registered_application.url
%p 
  %b Events: 
  = pie_chart @registered_application.events.group(:name).count 
  %br 
  = line_chart @registered_application.events.group_by_day(:created_at).count 
%p 
  %b Total Event Count: #{@events.count}

= link_to 'Edit', edit_registered_application_path(@registered_application)
\|
= link_to 'Destroy', registered_application_path, method: :delete, data: { confirm: 'Are you sure?' }
\|
= link_to 'Back', registered_applications_path
